<div class="content-head">
  <h4><i class="fa fa-user"></i> 회원가입</h4>
</div>
<hr />

<div class="content-list">
  <div class="col-sm-10 col-sm-offset-1">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, "이메일" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "비밀번호" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "로그인", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
