<div class="content-head">
  <h4><i class="fa fa-<%= @menu_icon %>"></i> <%= @menu_title %></h4>
  <% if user_signed_in? %>
    <% case params[:community] 
      when "notice" %>
      <% if current_user.userlevel >= 7 %>
        <%= link_to "새글쓰기", new_community_article_path(page: params[:page]), class: "btn btn-success" %>
      <% end %>
    <% when "information" %> 
      <% if current_user.userlevel >= 5 %>
        <%= link_to "새글쓰기", new_community_article_path(page: params[:page]), class: "btn btn-success" %>
      <% end %>
    <% else %>
      <%= link_to "새글쓰기", new_community_article_path(page: params[:page]), class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>
<hr />

<div class="content-list">
  <% if @articles.length > 0 %>
    <% @articles.each do |article| %>
      <article>
        <header>
          <h3>
            <%= link_to article.title, community_article_path(params[:community], article, page: params[:page]) %> 
          </h3>
          <div class="info">
            <i class="fa fa-clock-o"></i> <%= article.created_at.strftime("%B %m, %Y %H: %M") %> 
            <i class="fa fa-comments"></i> <%= article.community_article_comments.length %>
            <i class="fa fa-user"></i> <strong><%= article.user.username %></strong>
          </div>
        </header>
        <hr />
        <div class="article">
          <%= strip_tags(article.body)[0..250] %>...
          <%= link_to community_article_path(params[:community], article, page: params[:page]), class: "more-link" do %>
            내용보기 <i class="fa fa-plus-circle"></i>
          <% end %>
        </div>
      </article>
    <% end %>
  <% else %>
    <article>
      <header>
        <h3 class="text-center">
          게시물이 없습니다.
        </h3>
      </header>
    </article>
  <% end %>
</div>


<div class="content-page">
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails, class: "pagination pagination-lg pull-right", :previous_label => '«', :next_label => '»' %>
</div>
